name: second workflow
on: push
jobs:
    tests:
        runs-on: ubuntu-latest
        steps:
            - name: get code
              uses: actions/checkout@v3
            - name: install nose
              uses: actions/setup-node@v6
              with:
                node-version: 24
            - name: instll depensencies
              run: npm ci
            - name: Run tests
              run: npm test
            
